body
{
    background: url(https://sun9-27.userapi.com/impg/dBRmW93Hs4gm0zj_XUVmG5DIiKwY_BuxHK8-pw/ZRLFYqYgcnM.jpg?size=1280x720&quality=96&sign=a8bb55783be45cb50c598b0b4369c0f0&type=album);
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    
}

.conteiner
{
    background:white;
    box-shadow: 3px 3px 30px black;
    margin: 0 auto;
    display: flex;
    padding: 5px;
    width: 100%;
    background-clip: content-box;
    border-radius: 25px;
}

a
{
    font-size: 18px;
    color: Black;
    text-decoration: none;
}

a:hover
{
    color: blue;
}

.me
{
    padding: 15px;
    background: rgba(80, 79, 75, 0.384);
    border: 5px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.me2
{
    background: white;
    text-align: justify;
    padding: 15px;
    float: right;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image
{
    width: 200px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px black;
    margin-left: 6px;
}


.cont
{
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-size: 19px;
    text-align: left;
}


.date
{
    font-size: 20px;
    margin: 0;
    float: right;
}